<!doctype html>
{% extends "layout.html" %}
{% block body %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}


  <h2>Administrator</h2>
   <hr>
    <h3>Create Client</h3>
    <form action="{{ url_for('administer') }}" method=post>
      <dl>
        <dt>Username:
        <dd><input type=text name=username>
        <dt>Password:
        <dd><input type=password name=password>
        <dt>E-mail:
        <dd><input type=text name=email>
        <dt>Firstname:
        <dd><input type=text name=firstname>
        <dt>Lastname:
        <dd><input type=text name=lastname>
        <dt>Afm:
        <dd><input type=text name=afm>
        <dd><input type=submit value="Create client" name=cc>
      </dl>
    </form>
    <hr>
    <h3>Create Seller</h3>
    <form action="{{ url_for('administer') }}" method=post>
      <dl>
        <dt>Username:
        <dd><input type=text name=username>
        <dt>Password:
        <dd><input type=password name=password>
        <dt>E-mail:
        <dd><input type=text name=email>
        <dt>Firstname:
        <dd><input type=text name=firstname>
        <dt>Lastname:
        <dd><input type=text name=lastname>
        <dt>Afm:
        <dd><input type=text name=afm>
        <dd><input type=submit value="Create seller" name=cs>
      </dl>
    </form>
    <hr>
    <h3>Create Telephony Program</h3>
    <form action="{{ url_for('administer') }}" method=post>
      <dl>
        <dt>Program Description:
        <dd><input type=text name=program_desc>
        <dt>Mobile charge:
        <dd><input type=text  name=mob_charge>
        <dt>Home charge:
        <dd><input type=text name=home_charge>
        <dt>Standard charge:
        <dd><input type=text name=stan_charge>
        <dd><input type=submit value="Create telephony program" name=ctp>
      </dl>
    </form>
    <hr>
    <h3>Disable Client</h3>
    <form action="{{ url_for('administer') }}" method=post>
      <dl>
        <dt>Clients id:
        <dd><input type=text name=client_id>
        <dd><input type=submit value="Disable client" name=dc>
      </dl>
    </form>
    <hr>
    <h3>Disable Seller</h3>
    <form action="{{ url_for('administer') }}" method=post>
      <dl>
        <dt>Sellers id:
        <dd><input type=text name=seller_id>
        <dd><input type=submit value="Disable seller" name=ds>
      </dl>
    </form>

{% endblock %}



      <!-- <ul>
        <li> <a href="{{ url_for('getAccountInfoController') }}">Get Acount Info</a></li>
        <li><a href="{{ url_for('showCallHistoryController') }}">Show Call History</a></li>
        <li><a href="{{ url_for('executePaymentController') }}">Execute Payment</a></li>
        <li>Execute payment</li>
      </ul> -->
