<!doctype html>
{% extends "layout.html" %}
{% block body %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}



  <h2>Seller</h2>
    <hr>
    <h3>Create Client</h3>
    <form action="{{ url_for('seller') }}" method=post>
      <dl>
        <dt>Username:
        <dd><input type=text name=username>
        <dt>Password:
        <dd><input type=password name=password>
        <dt>E-mail:
        <dd><input type=text name=email>
        <dt>Firstname:
        <dd><input type=text name=firstname>
        <dt>Lastname:
        <dd><input type=text name=lastname>
        <dt>Afm:
        <dd><input type=text name=afm>
        <dd><input type=submit value='Create Client' name=cc>
        </dl>
      </form>
    <hr>
    <h3>Print Bill</h3>
    <form action="{{ url_for('seller') }}" method=post>
      <dl>
        <dt>User id:
        <dd><input type=text name=user_id>
          <dd><input type=submit value='Print Bill' name=pb >
        </dl>
      </form>

      <strong>Account info:</strong>
      {% for item in bill_info %}
        {{item}}
      {% endfor %}

    <hr>
    <h3>Change Program of Client</h3>
    <form action="{{ url_for('seller') }}" method=post>
      <dl>
        <dt>User Telephone Number:
        <dd><input type=text name=teleph_number>
        <dt>New Program id:
        <dd><input type=text  name=program_id>
          <dd><input type=submit value='Change Program' name=chp>
        </dl>
      </form>
    <hr>
  </br>

{% endblock %}



      <!-- <ul>
        <li> <a href="{{ url_for('getAccountInfoController') }}">Get Acount Info</a></li>
        <li><a href="{{ url_for('showCallHistoryController') }}">Show Call History</a></li>
        <li><a href="{{ url_for('executePaymentController') }}">Execute Payment</a></li>
        <li>Execute payment</li>
      </ul> -->
