<!doctype html>
{% extends "layout.html" %}
{% block body %}
  <h2>Testing page</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <ul>
    <li> <a href="{{ url_for('getAccountInfoController') }}">Get Acount Info</a></li>
    <li><a href="{{ url_for('showCallHistoryController') }}">Show Call History</a></li>
    <li><a href="{{ url_for('executePaymentController') }}">Execute Payment</a></li>
    <li>Execute payment</li>
  </ul>
{% endblock %}
